/* ==========================================================================
Global styles
========================================================================== */
/* Screen sizes
----------------------------------------------------------------------------------------------------------------------------- */
html, body {
  line-height: 1.4;
  height: 100%;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  color: #232323;
  font-size: 11pt;
  background: none; }

html {
  background: url(/theme/nibblersimple/templatefiles/blue-gradient.png) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 15px; }

/*a:link,*/
a:visited {
  color: #005fc9;
  text-decoration: underline; }

a:hover,
a:active,
a:focus {
  color: #0086f3;
  text-decoration: none; }

a.btn-primary {
  text-decoration: none;
  color: #fff;
  background: #36a0ec;
  border-color: #36a0ec; }

.hidden,
.print-only {
  display: none; }

.score {
  background-color: #8844BB; }

.verylow {
  background-color: #c62f30 !important; }

.low {
  background-color: #e22f2f !important; }

.okay {
  background-color: #e19722 !important; }

.good {
  background-color: #a3d53a !important; }

.better {
  background-color: #00bbff !important; }

.excellent {
  background-color: #0185aa !important; }

.externallink {
  background-image: url(/theme/nibbler/templatefiles/externallink.png);
  background-repeat: no-repeat;
  padding-right: 14px;
  background-position: right center; }

.wordBreak {
  word-break: break-word; }

#key_points {
  display: none; }

h1 {
  font-size: 3em;
  color: #000;
  clear: both; }

h2, h3 {
  font-size: 2em;
  color: #000;
  clear: both; }

.content {
  background-color: #fff;
  padding: 15px 25px;
  position: relative; }

.content.last {
  padding-bottom: 70px;
  border-top-left-radius: 5px; }

.content p {
  font-size: 12pt;
  line-height: 1.6em;
  margin: 20px 0 10px; }

.content ul {
  margin: 20px 0; }

.content li {
  font-size: 12pt;
  line-height: 1.6em;
  margin: 20px 0 10px; }

.contentheader {
  margin-bottom: 20px; }

.container {
  width: 100%;
  position: relative; }

#canvas-anim {
  display: none;
  border: 0;
  position: absolute;
  bottom: 0; }

#toggle-background {
  display: none; }

.main-footer .company-logo {
  display: none; }

#nibbler-login-form {
  width: 300px;
  margin: 20px auto;
  background-color: rgba(240, 240, 240, 0.9);
  padding: 18px;
  border-radius: 6px; }

#nibbler-login-form .zend_form {
  margin-bottom: 0; }

#nibbler-login-form #username,
#nibbler-login-form #password {
  width: 100%; }

#nibbler-login-form h1 {
  margin-top: 0; }

#nibbler-login-form dt {
  margin-top: 10px; }

#nibbler-login-form #login-element {
  text-align: right; }

#nibbler-login-form #url-label {
  display: none; }

#nibbler-login-form #url-element {
  display: none; }

#nibbler-login-form #rememberme-element {
  margin-top: 10px; }

#nibbler-login-form #rememberme-label {
  float: right;
  text-align: left;
  width: 240px; }

#nibbler-login-form #login {
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 80px;
  background-color: #36a0ec;
  border: none;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  margin: 0;
  display: inline-block;
  transition: color 500ms, background 500ms; }

@media screen and (min-width: 481px) {
  #canvas-anim {
    display: block;
    position: fixed;
    left: 0px;
    right: 0;
    bottom: 55px;
    width: 100%; }
  #toggle-background {
    display: block; }
  .main-footer .company-logo {
    display: block; } }

@media screen and (max-height: 900px) {
  /*#canvas-anim      { display:none; }*/ }

@media screen and (min-width: 981px) {
  .wrapper {
    padding: 0;
    width: 960px; }
  .content {
    margin-bottom: 80px;
    margin-top: 20px;
    border-radius: 5px; }
  .content.last {
    border-top-right-radius: 5px; }
  .container {
    width: 960px; } }

/* Header */
html.newdesign header {
  background-color: #282828; }

header {
  background-color: #232323;
  z-index: 1;
  width: 100%;
  height: 50px;
  position: relative;
  color: #fff;
  font-size: 10pt; }

header .logo {
  width: 120px;
  height: 24px;
  display: block;
  background-image: url(/theme/nibblersimple/templatefiles/logo-sprite.png);
  background-size: cover;
  text-indent: -1000px;
  overflow: hidden;
  position: absolute;
  top: 12px; }

header .logo:hover {
  background-position: 0 -24px; }

.test-input {
  position: absolute;
  top: 13px;
  left: 220px;
  width: 270px;
  color: #000; }

.test-input input[type='text'] {
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 180px;
  background-color: #fff;
  border: none;
  height: 24px;
  padding: 0 5px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0; }

.test-input input[type='submit'] {
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 80px;
  background-color: #36a0ec;
  border: none;
  height: 24px;
  color: #fff;
  padding: 0;
  cursor: pointer;
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  transition: color 500ms, background 500ms; }

.test-input input[type='submit']:hover {
  background-color: #fff;
  color: #232323; }

@media screen and (max-width: 510px) {
  .test-input {
    display: none; } }

header .login-information {
  display: none; }

header a,
header a:link,
header a:visited {
  color: #3FCAFC; }

header a,
header a:hover {
  color: #b2e9fd; }

@media screen and (min-width: 961px) {
  header .login-information {
    display: block;
    z-index: 999999;
    position: absolute;
    top: 16px;
    right: 300px;
    text-align: right;
    width: 400px; }
  header .login-information a {
    margin-left: 5px; } }

/* ==========================================================================
Specific shared Components
========================================================================== */
/*
 * Choose Language
 */
.language-options {
  float: left;
  margin-top: 4px; }

.language-options button {
  background: transparent;
  color: #fff;
  border-color: #888; }

.language-options a,
.language-options a:visited {
  text-decoration: none;
  position: relative;
  padding-left: 10px;
  padding-right: 30px; }

.language-options__flag {
  position: absolute;
  top: 14px;
  right: 10px; }

.main-footer .language-options ul li a {
  display: block;
  color: #000; }

.main-footer .language-options ul li a:hover {
  color: #2690f6; }

/*
* - Background Toggler -
*/
#toggle-background {
  position: fixed;
  right: 20px;
  bottom: 75px;
  background: none;
  color: #fff; }

/*
 * Nav: shared elements top and bottom
 */
.nav {
  font-size: 10pt; }

.nav li {
  padding: 0;
  margin: 0; }

.nav li a,
.nav li a:visited {
  display: block;
  color: #fff;
  text-decoration: none;
  transition: color 500ms;
  -webkit-transition: color 500ms;
  -moz-transition: color 500ms; }

.nav li a:hover,
.nav li a:active,
.nav li a:focus {
  background: none;
  color: #2690f6; }

.navbar-nav {
  display: none; }

@media screen and (min-width: 961px) {
  .nav li a,
  .nav li a:visited {
    display: inline-block; }
  .navbar-nav {
    display: block;
    float: right; }
  .navbar-nav a {
    font-size: 1.1em;
    padding-left: 15px;
    padding-right: 15px; } }

/*
 * Login form
 */
#home-language-sel {
  display: none;
  margin: 0 auto 50px;
  width: 300px;
  text-align: center; }

#home-language-sel li {
  display: inline;
  margin: 0 5px; }

/*
 * Company logo
 */
.company-logo {
  display: inline-block;
  background-image: url(/theme/nibblersimple/templatefiles/logo-silktide-white.png);
  background-size: cover;
  text-indent: 5000px;
  width: 100px;
  height: 30px;
  overflow: hidden; }

/* FOOTER
----------------------------------------------------------------------------------------------------------------------------- */
.main-footer {
  color: #fff;
  background-color: #232323;
  width: 100%;
  padding: 8px 0;
  position: fixed;
  bottom: 0; }

.main-footer dt {
  display: inline; }

.main-footer dt:after {
  content: ": "; }

.main-footer dd {
  display: inline;
  font-weight: bold; }

.main-footer dd:after {
  content: " | "; }

.main-footer dd:last-child:after {
  content: ""; }

.main-footer .company-logo {
  margin-top: 5px; }

#footer-notice {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px dotted #A3A4A7; }

/* FOOTER NAV
----------------------------------------------------------------------------------------------------------------------------- */
.nav--footer > li {
  display: block;
  float: left; }

.nav--footer > li a {
  padding: 10px 5px; }

.nav--footer > li a:focus {
  color: #333; }

.social-icon {
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -5000px;
  margin: 10px 5px; }

.social-icon--facebook,
.social-icon--facebook:hover {
  background: url(/theme/nibblersimple/templatefiles/social-fb.png) no-repeat !important;
  background-size: contain !important; }

.social-icon--twitter,
.social-icon--twitter:hover {
  background: url(/theme/nibblersimple/templatefiles/social-tw.png) no-repeat !important;
  background-size: contain !important; }

@media screen and (max-width: 767px) {
  .company-logo-container {
    display: none; }
  .language-container {
    float: right !important; } }

@media screen and (min-width: 481px) {
  .main-footer .company-logo {
    /*width:136px; height:33px; margin-top:5px*/ }
  .nav--footer > li a {
    padding: 10px 15px; } }

@media screen and (min-width: 981px) {
  .nav--footer {
    margin-left: -15px;
    margin-right: 10px; }
  .social-icon {
    margin: 8px 8px 0 0; } }

@media screen and (max-height: 460px) {
  .main-footer {
    display: none; } }

/* ==========================================================================
Reusable components
========================================================================== */
/* PRICE TABLE ON MORETESTS
----------------------------------------------------------------------------------------------------------------------------- */
.price-table {
  border-collapse: collapse;
  margin: 0 auto 10px;
  font-size: 1.1em; }
  .price-table th,
  .price-table td {
    vertical-align: top;
    text-align: center;
    padding: 5px; }
  .price-table thead {
    font-size: 1.3em; }
  .price-table th.nibblerlogo {
    background: url(/theme/nibbler/templatefiles/pricetable-nibblerlogo.png) no-repeat top center;
    height: 40px;
    border-bottom: 8px solid #fff;
    border-right: 8px solid #fff; }
  .price-table th.silktidelogo {
    background: url(/theme/nibblersimple/templatefiles/silktide-logo-dark.svg?v=1) no-repeat top center;
    height: 40px;
    border-bottom: 8px solid #fff;
    background-size: 173px 35px; }
  .price-table th.haystacklogo {
    background: url(/theme/nibblersimple/templatefiles/pricetable-haystacklogo.png) no-repeat top center;
    background-size: contain;
    height: 40px;
    padding-bottom: 6px;
    border-bottom: 8px solid #fff;
    border-right: 8px solid #fff; }
  .price-table thead th h3 {
    display: none; }
  .price-table .noborderbottom {
    border-bottom: 0;
    border-left: 0; }
  .price-table tbody th {
    width: 140px;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
    padding: 15px;
    border-right: 1px solid #eaeaea; }
  .price-table tbody td {
    width: 240px;
    padding: 15px;
    border: 1px solid #eaeaea; }
  .price-table td.sitebeam_1 {
    border-bottom: 1px solid #c0e0e8; }
  .price-table td.sitebeam_2 {
    border-bottom: 1px solid #d0f9e4; }
  .price-table td.sitebeam_3 {
    border-bottom: 1px solid #ddddbb;
    border-right: 0; }
  .price-table tr.odd th {
    background-color: #f8f8f8; }
  .price-table tr.odd td.sitebeam_1 {
    background-color: #e0f0f8; }
  .price-table tr.odd td.sitebeam_2 {
    background-color: #f0fdf7; }
  .price-table tr.odd td.sitebeam_3 {
    background-color: #fffde8; }
  .price-table td .price {
    display: block;
    font-size: 3.0em;
    line-height: 1.2em;
    color: #2e5ca6;
    padding: 5px 0; }
  .price-table .tax {
    display: block;
    font-size: 0.85em;
    line-height: 1.2em;
    padding: 0 0 5px; }
  .price-table td strong {
    display: block;
    padding: 0 0 5px; }

.video img {
  max-width: 100%; }

/*
* Screenshot on report
*/
#screenshot {
  background: url(/theme/nibblersimple/templatefiles/screenshot-pc-base.png) no-repeat center bottom;
  padding: 10px 0 38px;
  margin-top: 30px;
  background-size: contain;
  position: relative; }

#screenshot img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border: 14px solid #232323;
  border-radius: 8px; }

#screenshotmissing {
  background-color: #f0f0f0;
  text-align: center; }

.screenshotmissing__msg {
  position: absolute;
  top: 40%;
  text-shadow: 2px 2px 2px #fff;
  left: 0;
  right: 0;
  font-weight: bold; }

@media (min-width: 540px) and (max-width: 767px) {
  #screenshot {
    padding-bottom: 50px; }
  #screenshot img {
    border-width: 24px;
    border-radius: 12px; } }

@media (min-width: 895px) and (max-width: 991px) {
  #screenshot {
    padding-bottom: 50px; }
  #screenshot img {
    border-width: 24px;
    border-radius: 10px; } }

/* ==========================================================================
Specific layouts
========================================================================== */
#Test_Page_CodeQuality .rightmarginimg img {
  width: 32px;
  height: 32px; }

.main-title {
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: 400; }

.testbox {
  position: relative;
  margin: 20px auto 20px;
  text-align: center;
  width: 80%;
  /*height: 70px;*/ }

.recaptcha {
  width: 304px;
  margin: 20px auto 0; }

.testbox input[type='text'] {
  vertical-align: middle; }

.testbox input[type='submit'] {
  transition: color 500ms, background 500ms;
  width: 150px; }

.testbox input[type='submit']:hover {
  background-color: #fff;
  color: #232323; }

.testbox #inputOverlay {
  color: #fff; }

.testbox ul.errors {
  float: left;
  font-weight: 600;
  font-size: 10pt;
  color: #fff;
  background-image: url(/theme/nibblersimple/templatefiles/formerrorarrowup.png);
  margin: 0;
  padding: 6px 0 0;
  background-repeat: no-repeat;
  background-position: 10px 0;
  margin-bottom: 10px;
  list-style: none; }

.testbox ul.errors li {
  background-color: #f61e00;
  padding: 3px 5px 3px;
  margin: 0;
  list-style: none; }

.testbox #keywordsOverlay {
  display: inline-block;
  text-align: left;
  position: absolute;
  padding-top: 25px;
  width: 350px;
  font-size: 12pt;
  color: #CCCCCC; }

.testbox #keywordsOverlay p {
  cursor: text;
  height: 30px;
  margin-left: 10px; }

.testbox form #sacontainer {
  clear: both;
  display: block; }

.testbox .searchinfo ul.errors {
  margin-top: -30px; }

.strapline {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center; }

@media screen and (max-width: 480px) {
  .testbox #inputOverlay {
    display: none !important; } }

@media screen and (min-width: 481px) {
  .testbox #inputOverlay {
    display: block;
    text-align: center;
    position: absolute;
    top: 4px;
    padding-top: 3px;
    font-size: 1em;
    color: #CCCCCC; }
  .testbox #inputOverlay p {
    cursor: text;
    height: 30px;
    margin-left: 60px; }
  .strapline {
    font-size: 1.5em; } }

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 5em;
    margin-top: 76px; }
  .testbox .form-group {
    float: left; }
  .testbox input[type='submit'] {
    float: right; } }

.blog {
  margin: 0;
  padding: 10px 0; }

.blog p.info {
  font-size: 0.9em;
  line-height: 0.8em;
  margin: 8px 0;
  padding: 0; }

.blog .date {
  font-style: italic; }

.blog ul {
  margin: 0;
  padding: 0; }

.blog ul li {
  list-style-type: none;
  margin: 10px 0 20px;
  padding: 0; }

.blog ul li .headline {
  font-weight: bold;
  font-size: 1.1em; }

#progressouter {
  display: block;
  position: relative;
  width: 530px;
  background: #373737;
  padding: 18px;
  margin: 60px auto;
  border-radius: 6px; }

#progressContainer {
  margin: 30px auto;
  width: 960px;
  text-align: center;
  position: relative; }

#progressContainer p,
#progressContainer h1,
#progressContainer h2 {
  font-size: 3em;
  font-weight: 600;
  margin: 15px 0;
  color: #fff; }

#progressContainer h2 {
  font-size: 1.5em; }

#progressContainer p {
  font-size: 1.5em;
  font-weight: 400;
  margin: 15px 0 0; }

#progressContainer a,
#progressContainer a:visited {
  color: #232323; }

#progressContainer a:hover,
#progressContainer a:active {
  color: #fff;
  text-decoration: underline; }

.progress {
  margin: 0;
  height: 30px; }

@media screen and (max-width: 480px) {
  #progressContainer {
    width: auto; }
  #progressouter {
    width: 80%; } }

@media screen and (max-width: 768px) {
  #progressContainer h1 {
    font-size: 1.5em; }
  #progressContainer p {
    text-shadow: none;
    font-size: 1em; }
  #progressouter {
    margin: 10px auto; } }

@media screen and (max-width: 992px) {
  #progressContainer {
    width: auto; }
  #progressouter {
    width: 80%; } }

@media screen and (min-height: 700px) {
  #progressContainer {
    margin-top: 120px; } }

@media screen and (min-height: 800px) {
  #progressContainer {
    margin-top: 200px; } }

@media screen and (min-height: 1000px) {
  #progressContainer {
    margin-top: 280px; } }

/* Testbox exception for mobile */
@media screen and (max-width: 768px) {
  .testbox input[type='submit'] {
    background-color: #232323; }
  .testbox input[type='submit']:hover {
    background-color: #3276b1;
    color: #fff; } }

@media screen and (min-width: 768px) {
  .testbox {
    width: 520px;
    background-color: #373737;
    padding: 18px;
    border-radius: 6px;
    text-align: left; }
  .testbox input[type='text'] {
    vertical-align: middle;
    width: 400px; }
  .testbox input[type='submit'] {
    margin-left: 12px;
    width: 69px; }
  .testbox #inputOverlay {
    top: 20px;
    font-size: 1.15em;
    width: 400px; } }

#progressouter {
  display: block;
  position: relative;
  width: 530px;
  background: #373737;
  padding: 18px;
  margin: 60px auto;
  border-radius: 6px; }

#progressContainer {
  margin: 30px auto;
  width: 960px;
  text-align: center;
  position: relative; }

#progressContainer p,
#progressContainer h1,
#progressContainer h2 {
  font-size: 3em;
  font-weight: 600;
  margin: 15px 0;
  color: #fff; }

#progressContainer h2 {
  font-size: 1.5em; }

#progressContainer p {
  font-size: 1.5em;
  font-weight: 400;
  margin: 15px 0 0; }

#progressContainer a,
#progressContainer a:visited {
  color: #232323; }

#progressContainer a:hover,
#progressContainer a:active {
  color: #fff;
  text-decoration: underline; }

.progress {
  margin: 0;
  height: 30px; }

@media screen and (max-width: 480px) {
  #progressContainer {
    width: auto; }
  #progressouter {
    width: 80%; } }

@media screen and (max-width: 768px) {
  #progressContainer h1 {
    font-size: 1.5em; }
  #progressContainer p {
    text-shadow: none;
    font-size: 1em; }
  #progressouter {
    margin: 10px auto; } }

@media screen and (max-width: 992px) {
  #progressContainer {
    width: auto; }
  #progressouter {
    width: 80%; } }

@media screen and (min-height: 700px) {
  #progressContainer {
    margin-top: 120px; } }

@media screen and (min-height: 800px) {
  #progressContainer {
    margin-top: 200px; } }

@media screen and (min-height: 1000px) {
  #progressContainer {
    margin-top: 280px; } }

/* Testbox exception for mobile */
@media screen and (max-width: 768px) {
  .testbox input[type='submit'] {
    background-color: #232323; }
  .testbox input[type='submit']:hover {
    background-color: #3276b1;
    color: #fff; } }

@media screen and (min-width: 768px) {
  .testbox {
    width: 520px;
    background-color: #373737;
    padding: 18px;
    border-radius: 6px;
    text-align: left; }
  .testbox input[type='text'] {
    vertical-align: middle;
    width: 400px; }
  .testbox input[type='submit'] {
    margin-left: 12px;
    width: 69px; }
  .testbox #inputOverlay {
    top: 20px;
    font-size: 1.15em;
    width: 400px; } }

.get-more-container {
  padding: 15px 0;
  box-shadow: 0 4px 8px #6b6b6b;
  max-width: 862px; }

.comparison-header {
  color: #149cef;
  font-weight: bold !important;
  font-size: 3em !important; }

.comparison-text {
  width: 60%;
  margin: 30px auto 0 auto !important; }
  .comparison-text a {
    text-decoration: underline; }

.comparison-info-container, .comparison-info-container-report {
  text-align: center;
  margin-top: 45px;
  background-color: #149cef;
  color: white;
  display: flex; }
  .comparison-info-container .comparison-info-image-container, .comparison-info-container .comparison-info-price-container, .comparison-info-container-report .comparison-info-image-container, .comparison-info-container-report .comparison-info-price-container {
    width: 50%; }
  .comparison-info-container .comparison-info-image-container img, .comparison-info-container-report .comparison-info-image-container img {
    height: 270px;
    width: auto;
    margin: -35px 0 -89px 8px; }
  .comparison-info-container .comparison-info-image-container img.report-image, .comparison-info-container-report .comparison-info-image-container img.report-image {
    height: 232px;
    margin: -30px -78px -89px -5px; }
  .comparison-info-container .comparison-info-price-container, .comparison-info-container-report .comparison-info-price-container {
    padding: 16px 24px; }
    .comparison-info-container .comparison-info-price-container div, .comparison-info-container-report .comparison-info-price-container div {
      width: fit-content;
      margin: auto; }
      .comparison-info-container .comparison-info-price-container div .comparison-info-started, .comparison-info-container-report .comparison-info-price-container div .comparison-info-started {
        font-size: 25px;
        font-weight: bold; }
      .comparison-info-container .comparison-info-price-container div .comparison-info-price, .comparison-info-container .comparison-info-price-container div .comparison-info-price-report, .comparison-info-container-report .comparison-info-price-container div .comparison-info-price, .comparison-info-container-report .comparison-info-price-container div .comparison-info-price-report {
        display: block;
        font-size: 120px;
        font-weight: bold;
        text-shadow: 2px 2px 5px #737272;
        margin: -25px 0; }
      .comparison-info-container .comparison-info-price-container div .comparison-info-price-report, .comparison-info-container-report .comparison-info-price-container div .comparison-info-price-report {
        font-size: 100px; }
      .comparison-info-container .comparison-info-price-container div .comparison-info-month, .comparison-info-container-report .comparison-info-price-container div .comparison-info-month {
        font-size: 18px;
        font-weight: bold;
        float: right;
        margin-bottom: 1px; }

.comparison-info-container-report {
  height: 180px; }

.comparison-learn-more-button {
  margin: 40px 0 24px 0;
  font-size: 18px;
  padding: 10px 36px;
  font-weight: bold;
  border-radius: 8px; }

@media screen and (max-width: 768px) {
  .comparison-info-container, .comparison-info-container-report {
    display: block; }
    .comparison-info-container .comparison-info-image-container, .comparison-info-container .comparison-info-price-container, .comparison-info-container-report .comparison-info-image-container, .comparison-info-container-report .comparison-info-price-container {
      width: 100%; }
    .comparison-info-container .comparison-info-image-container img, .comparison-info-container-report .comparison-info-image-container img {
      margin: 0 !important; }
    .comparison-info-container .comparison-info-price-container, .comparison-info-container-report .comparison-info-price-container {
      padding: 0 0 35px 0; }
  .comparison-learn-more-button {
    width: 180px;
    display: block;
    margin-right: auto;
    margin-left: auto; }
  .comparison-info-container-report {
    height: unset; } }

/*
* Report body
*/
#reportcontainer {
  display: table;
  margin: 10px auto 0;
  padding: 0; }

#report {
  background-color: #fff;
  padding: 25px 25px 100px;
  position: relative;
  display: table-cell; }

#report-header {
  position: relative; }

#report-header h1 {
  font-weight: 600;
  font-size: 18pt;
  margin-top: 0; }

#report-header h1 a,
#report-header h1 a:visited,
#report-header h1 a:link {
  text-decoration: none;
  color: #232323; }

#report-header h1 a:hover,
#report-header h1 a:active {
  text-decoration: underline;
  color: #005FC9; }

#report-controls {
  position: absolute;
  top: 0;
  right: 0; }

#report-controls li {
  display: inline; }

#report-controls li a {
  display: inline-block;
  background-color: #f0f0f0;
  border: 1px dotted #a3a4a7;
  padding: 5px;
  color: #232323;
  text-decoration: none;
  margin-left: 15px; }

#report-controls li a:hover {
  background-color: #fff; }

#report-controls li a.report-controls-print {
  background-image: url(/theme/nibblersimple/templatefiles/icon-print.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 25px; }

#report-controls li a.report-controls-pdf {
  background-image: url(/theme/nibblersimple/templatefiles/icon-pdf.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 25px; }

@media screen and (min-width: 992px) {
  #report {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; } }

/*
* Summaries
*/
#summaries {
  margin-top: 15px; }

#summaries .summary {
  margin-top: 20px;
  margin-bottom: 30px; }

#summaries .summary .score {
  margin: 0 15px 0 10px;
  background-color: #3FCAFC;
  color: #fff;
  padding: 14px 2px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 12pt;
  -moz-border-radius: 2px;
  font-weight: 600;
  position: absolute;
  left: 10px; }

#summaries .summary-overall .score {
  font-size: 18pt;
  width: 60px;
  height: 60px;
  margin-left: 0;
  margin-bottom: 5px;
  padding: 17px 2px 23px;
  border-bottom: 1px solid #eee; }

#summaries .summary h3 {
  font-size: 12pt;
  font-weight: 600; }

#summaries .summary h3 span {
  color: #ccc; }

#summaries .summary-overall h3 {
  font-size: 14pt; }

#summaries .summary-overall {
  padding-bottom: 15px;
  margin-bottom: -5px; }

#summaries .summary h3,
#summaries .summary p {
  margin-left: 70px; }

#summaries .summary p {
  color: #888; }

#summary-rightcol .footnote {
  font-size: 7pt;
  margin-top: 30px;
  font-style: italic;
  padding-bottom: 30px; }

#report-tested-information {
  margin-top: 60px;
  color: #888;
  text-align: center; }

#report-tested-information ul {
  margin-top: 10px; }

#report-tested-information ul li {
  margin-top: 5px; }

/* Spider error */
#spider-error {
  background-color: #E0E0E0;
  color: #444;
  border: 5px;
  padding: 15px;
  margin: 30px 0 0;
  background-image: url(/theme/nibblersimple/templatefiles/warning_sign_white.png);
  background-repeat: no-repeat;
  background-position: 15px 15px;
  border-radius: 5px; }

#spider-error p {
  margin-left: 50px;
  margin-bottom: 0; }

/* Page log */
#report #pagelog {
  width: 669px;
  word-wrap: break-word;
  border-top: 1px dotted #A3A4A7;
  clear: both;
  margin-top: 30px;
  padding-top: 30px; }

#report #pagelog h2 {
  font-size: 14pt;
  font-weight: 600;
  margin-top: 5px;
  margin-left: 0; }

#report #pagelog ul {
  list-style: none; }

#report #pagelog li {
  margin: 15px 0 15px 15px;
  padding: 0;
  background-color: transparent;
  border: none;
  background-image: url(/theme/nibblersimple/templatefiles/webpage16.png);
  background-repeat: no-repeat;
  padding-left: 26px;
  background-position: left center; }

@media screen and (max-width: 540px) {
  #report #pagelog li {
    margin: 15px 0;
    max-width: 420px;
    word-wrap: break-word; } }

@media screen and (max-width: 992px) {
  #report #pagelog {
    width: auto; } }

/* Website list */
.websites-tested__item {
  margin-bottom: 25px;
  min-height: 45px; }

.websites-tested__title {
  margin: 0 0 3px 50px;
  font-size: 1.4em; }

.websites-tested__link {
  color: #333; }

.websites-tested__date {
  color: #888;
  margin: 0 0 0 50px;
  font-size: 0.75em; }

.websites-tested__score {
  margin: 0 10px 0 0;
  background-color: #3FCAFC;
  color: #fff;
  padding: 14px 2px;
  border-radius: 50%;
  -moz-border-radius: 2px;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 12pt;
  font-weight: 600;
  position: absolute;
  left: 10px; }

@media screen and (min-width: 992px) {
  .websites-tested {
    margin-left: 30px;
    margin-top: 30px; } }

/* Navigation */
.sidecol {
  display: table-cell;
  width: 240px;
  background: #f3f3f3 url("/theme/nibblersimple/templatefiles/sidenav-bg.gif") repeat-y left;
  border-top-right-radius: 5px; }

.report-navigation {
  position: relative;
  padding: 25px 15px; }

.report-navigation li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: transparent !important; }

.report-navigation li a,
.report-navigation li a:visited {
  color: #232323;
  display: block;
  padding: 5px 30px 5px 0;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  font-weight: 600; }

.report-navigation li a:hover,
.report-navigation li a:active,
.report-navigation li a:focus {
  color: #2690f6; }

.report-navigation li.selectedoption a,
.report-navigation li.selectedoption a:visited {
  background: #fff;
  border-top: 1px dotted #A3A4A7;
  margin: -1px -15px 0 -15px;
  padding-left: 15px;
  padding-right: 45px; }

.report-navigation li.selectedoption a:hover,
.report-navigation li.selectedoption a:active,
.report-navigation li.selectedoption a:focus {
  color: #2690f6; }

.report-navigation .report-navigation-score {
  display: block;
  float: right;
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  padding: 2px 1px;
  margin-top: -2px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #8844BB;
  width: 24px;
  margin-right: -30px; }

.report-navigation li.verylow .report-navigation-score {
  background-color: #c62f30; }

.report-navigation li.low .report-navigation-score {
  background-color: #e22f2f; }

.report-navigation li.okay .report-navigation-score {
  background-color: #e19722; }

.report-navigation li.good .report-navigation-score {
  background-color: #a3d53a; }

.report-navigation li.better .report-navigation-score {
  background-color: #00bbff; }

.report-navigation li.excellent .report-navigation-score {
  background-color: #0185aa; }

.tagcloud {
  font-family: arial, helvetica, clean, sans-serif;
  color: #444;
  padding: 5px 20px; }

/* Tests */
#tests .report-tab {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 2px dotted #999;
  clear: both; }

#tests .score {
  margin: -12px 0 0 0;
  background-color: #8844BB;
  color: #fff;
  padding: 12px 2px;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 14pt;
  border-radius: 50%;
  font-weight: 600;
  position: absolute;
  left: 25px; }

#tests h2 {
  font-size: 14pt;
  font-weight: 600;
  margin-top: 5px;
  margin-left: 60px;
  padding-bottom: 10px; }

#report #tests .report-help-link {
  margin: -38px 0 60px; }

#tests .report-help-link a,
#tests .report-help-link a:visited {
  float: right;
  background-image: url(/theme/nibblersimple/templatefiles/help_icon.png);
  background-position: top right;
  background-repeat: no-repeat;
  padding: 0;
  line-height: 15px; }

#tests .report-help-link a:hover,
#tests .report-help-link a:active {
  background-position: right -15px;
  color: #232323; }

#tests .report-help-link span {
  padding-right: 20px;
  display: block; }

#tests {
  clear: both; }

.summary .datatable {
  margin-left: -40px; }

#printhelp {
  display: none; }

.retest {
  padding: 0 0 0 20px;
  /*background: url("/theme/nibblersimple/templatefiles/retest-static.gif") no-repeat left;*/
  border: 0 none;
  color: #428bca;
  width: 80px;
  height: 40px;
  background-image: url("/theme/nibblersimple/templatefiles/retest-static.gif");
  background-repeat: no-repeat;
  background-position: 7px;
  margin-top: 10px; }

.restest:hover {
  color: #0086f3; }

.retest--animate {
  background-image: url("/theme/nibblersimple/templatefiles/retest-animated.gif"); }

@media screen and (min-height: 881px) and (max-height: 920px) {
  .report-navigation {
    top: 50px;
    position: fixed !important;
    width: 240px; } }

@media screen and (min-height: 920px) {
  .report-navigation {
    position: fixed !important;
    width: 240px;
    top: 75px; } }

.tableCheckmark {
  vertical-align: middle;
  width: 18px;
  height: auto; }

.star-rating-table {
  min-width: 90px; }

.localImage {
  text-align: center;
  vertical-align: top; }

#report .reportbox .facebookpage img {
  float: left;
  width: 32px;
  height: 32px;
  margin: 50px 0 0 25px; }

#report .reportbox .facebookpage p {
  text-align: left; }

#report .reportbox .twitteraccount img,
#report .reportbox .gpluspage img {
  float: left;
  width: 32px;
  height: 32px;
  margin: 50px 0 0 25px; }

#report .reportbox .twitteraccount p,
#report .reportbox .gpluspage p {
  text-align: left; }

#featureboxGplusPagePlusones div {
  width: 50%;
  float: left; }

#report .reportbox .facebookpagelikes .largetext {
  display: inline; }

#report div.newGoogleResult {
  width: 600px;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  font-family: arial, sans-serif;
  margin: 10px 0 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12); }

#report div.newGoogleResult p.newGoogleTitle {
  font-weight: normal;
  font-size: 14pt;
  color: #2200CC;
  text-decoration: underline;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0; }

#report div.newGoogleResult p.newGoogleDescription {
  color: #000000;
  font-size: 11pt;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 0; }

#report div.newGoogleResult p.newGoogleUrl {
  color: green;
  font-size: 11pt;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0; }

#report .reportbox #alexa_pop img {
  float: left;
  margin: 0 0 0 10px;
  width: 32px;
  height: auto; }

#report .reportbox #alexa_pop p {
  margin: 0; }

/* REPORT TABLES
----------------------------------------------------------------------------------------------------------------------------- */
.yui-dt table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  margin-top: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06); }

.yui-dt table td {
  padding: 8px; }

.yui-dt table th {
  padding: 8px 18px 8px 4px; }

/*.yui-dt tbody tr        { border-top: 1px solid #DDDDDD; }*/
#yui-dt0-paginator0 {
  display: none; }

#yui-dt1-paginator0 {
  display: none; }

#yui-dt2-paginator0 {
  display: none; }

#yui-dt3-paginator0 {
  display: none; }

#yui-dt4-paginator0 {
  display: none; }

#yui-dt5-paginator0 {
  display: none; }

#yui-dt6-paginator0 {
  display: none; }

#yui-dt7-paginator0 {
  display: none; }

#yui-dt8-paginator0 {
  display: none; }

#yui-dt9-paginator0 {
  display: none; }

#yui-dt10-paginator0 {
  display: none; }

#yui-dt11-paginator0 {
  display: none; }

#yui-dt12-paginator0 {
  display: none; }

#yui-dt13-paginator0 {
  display: none; }

#yui-dt14-paginator0 {
  display: none; }

#yui-dt15-paginator0 {
  display: none; }

#yui-dt16-paginator0 {
  display: none; }

#yui-dt17-paginator0 {
  display: none; }

#yui-dt18-paginator0 {
  display: none; }

#yui-dt19-paginator0 {
  display: none; }

#yui-dt20-paginator0 {
  display: none; }

.yui-dt table th a {
  text-decoration: none;
  color: #222222;
  font-weight: 600; }

.yui-dt table th.yui-dt-sortable:hover {
  background-color: #ddd;
  background-image: url(/theme/nibblersimple/templatefiles/uparrow.png);
  background-repeat: no-repeat;
  background-position: right; }

.yui-dt table th.yui-dt-desc,
.yui-dt table th.yui-dt-asc {
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: right; }

.yui-dt table th.yui-dt-desc {
  background-image: url(/theme/nibblersimple/templatefiles/downarrow.png); }

.yui-dt table th.yui-dt-asc {
  background-image: url(/theme/nibblersimple/templatefiles/uparrow.png); }

.yui-dt table th.yui-dt-asc.yui-dt-sortable:hover {
  background-image: url(/theme/nibblersimple/templatefiles/downarrow.png); }

#Test_Page_CodeQuality .yui-dt-data .yui-dt-col-Message .yui-dt-liner {
  word-break: break-word; }

.yui-dt-odd td.yui-dt-desc,
.yui-dt-odd td.yui-dt-asc {
  background-color: #ffffff; }

.yui-dt-even td.yui-dt-desc,
.yui-dt-even td.yui-dt-asc {
  background-color: #eeeeee; }

.yui-dt-even {
  background-color: #f4f4f4; }

.yui-dt-paginator {
  margin-top: 10px;
  text-align: right;
  margin-bottom: 5px; }

span.yui-pg-page,
a.yui-pg-page {
  margin-left: 2px;
  display: inline;
  padding: 2px 6px;
  border: 1px solid #DDDDDD;
  text-decoration: none;
  border-radius: 15px; }

a.yui-pg-page:hover,
a.yui-pg-page:active {
  background: #2690F6;
  color: #fff;
  border: 1px solid #A3A4A7; }

.yui-pg-first {
  display: none; }

.yui-pg-previous {
  display: none; }

.yui-pg-next {
  display: none; }

.yui-pg-last {
  display: none; }

.yui-pg-current-page {
  background-color: #f8fBff; }

@media screen and (max-width: 660px) {
  #Test_Site_LocalPresence .yui-dt-col- {
    display: none; }
  #Test_Site_LocalPresence .yui-dt-col-Categories {
    display: none; }
  #Test_Site_LocalPresence .yui-dt-col-Description {
    display: none; }
  #Test_Site_LocalPresence .yui-dt-col-Photos {
    display: none; }
  #Test_Site_LocalPresence .yui-dt-col-Website {
    display: none; } }

#report .report-tab .summarycontribs li {
  margin: 8px 0; }

#report .report-tab .summarycontribs li span.score {
  margin: 0 8px 0 0;
  padding: 0 1px;
  font-weight: 600;
  width: 24px; }

#report .report-tab .summarycontribs li a {
  color: #222222;
  text-decoration: none;
  font-weight: 600; }

#report .report-tab .summarycontribs li a:hover {
  color: #2690F6;
  text-decoration: none; }

.summarycontribs {
  background-color: #F5F5F5;
  padding: 8px 8px 0 8px;
  margin: 8px 0 8px 60px;
  border: 1px dotted #A3A4A7; }

#report .report-tab .summarycontribs p {
  margin: 0; }

#report .report-tab .summarycontribs ul {
  margin: 0; }

#report .report-tab .summarycontribs li {
  margin: 0; }

#report .report-tab ul {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none; }

#report .report-tab ul li {
  list-style: none;
  padding: 15px;
  background-color: #f8f8f8;
  border: 0px solid #E0E0C0;
  margin: 15px 0;
  color: #666; }

#report .report-tab ul li ul li {
  color: #333;
  border: none;
  list-style: none;
  margin: 0;
  list-style: none;
  font-weight: normal;
  padding: 20px 10px 10px 40px;
  background: transparent url("/theme/nibblersimple/templatefiles/idea.png") no-repeat 0 17px; }

#report .splitpanel p {
  padding-left: 90px !important;
  text-align: left !important;
  border-radius: 10px; }

#report .splitpanel.split-popularity {
  background: url("/simpleicons/split-popularity.png") no-repeat left center #f8f8f8;
  background-size: 72px 127px;
  height: auto; }

#report .splitpanel.split-thumbsup p,
#report .splitpanel.split-popularity p {
  height: auto; }

#report .splitpanel.split-offensive {
  background: url("/simpleicons/split-offensive.png") no-repeat left center #f8f8f8;
  background-size: 72px 127px; }

#report .splitpanel.split-title {
  background: url("/simpleicons/split-title.png") no-repeat left center #f8f8f8;
  background-size: 72px 127px; }

#report .splitpanel.split-heading {
  background: url("/simpleicons/split-heading.png") no-repeat left center #f8f8f8;
  background-size: 72px 127px; }

#report .splitpanel.split-link {
  background: url("/simpleicons/split-link.png") no-repeat left center #f8f8f8;
  background-size: 72px 127px; }

#report .splitpanel.split-globe {
  background: url("/simpleicons/split-globe.png") no-repeat left center #f8f8f8;
  background-size: 72px 127px; }

#report .splitpanel.split-thumbsup {
  background: url("/simpleicons/split-thumbsup.png") no-repeat left center #f8f8f8;
  background-size: 72px 127px;
  height: auto; }

#report .splitpanel.split-image {
  background: url("/simpleicons/split-image.png") no-repeat left center #f8f8f8;
  background-size: 72px 127px; }

#report .splitpanel.split-calendar {
  background: url("/simpleicons/split-calendar.png") no-repeat left center #f8f8f8;
  background-size: 72px 127px; }

#report .splitpanel.split-print {
  background: url("/simpleicons/split-print.png") no-repeat left center #f8f8f8;
  background-size: 72px 127px; }

#report .splitpanel.split-clock {
  background: url("/simpleicons/split-clock.png") no-repeat left center #f8f8f8;
  background-size: 72px 127px; }

#report .splitpanel.social-twitter p {
  background: url("/simpleicons/social-panel-twitter.png") no-repeat left center;
  background-size: 72px 127px; }

#report .splitpanel.social-facebook p {
  background: url("/simpleicons/social-panel-facebook.png") no-repeat left center;
  background-size: 72px 127px; }

#report .splitpanel.social-googleplus p {
  background: url("/simpleicons/social-panel-googleplus.png") no-repeat left center;
  background-size: 72px 127px; }

#report .splitpanel p .largetext {
  font-size: 20pt;
  line-height: 30px; }

#report .report-tab li.summary-info,
#report .report-tab li.summary-good,
#report .report-tab li.summary-bad,
#report .report-tab li.summary-warn {
  background-repeat: no-repeat;
  background-position: 12px 17px;
  padding: 20px 20px 20px 50px; }

#report .report-tab li.summary-info {
  background-image: url("/simpleicons/panel-info.png");
  background-size: 25px 25px;
  border-radius: 10px;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.05); }

#report .report-tab li.summary-good {
  background-image: url("/simpleicons/panel-good.png");
  background-color: #d8f4d8;
  color: #226622;
  background-size: 25px 25px;
  border-radius: 10px;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.05); }

#report .report-tab li.summary-bad {
  background-image: url("/simpleicons/panel-bad.png");
  background-color: #ffe0d0;
  color: #882200;
  background-size: 25px 25px;
  border-radius: 10px;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.05); }

#report .report-tab li.summary-warn {
  background-image: url("/simpleicons/panel-warning.png");
  background-color: #f8f8d0;
  color: #440;
  background-size: 25px 25px;
  border-radius: 10px;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.05); }

#report .report-showsolution,
#report .report-showsolution:visited {
  padding: 5px 0;
  cursor: pointer;
  text-decoration: underline;
  color: #005FC9; }

#report .report-showsolution:hover,
#report .report-showsolution:active {
  color: #0086f3; }

#report .link-expand {
  background-image: url("/theme/nibblersimple/templatefiles/downarrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 18px !important; }

#report .link-collapse {
  background-image: url("/theme/nibblersimple/templatefiles/uparrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 18px !important; }

#report .report-tab p.datasource {
  text-align: right; }

#reportsummary h1 a {
  color: #222222;
  text-decoration: none; }

#report .minireportbox span {
  margin-right: 7px; }

#report .minireportbox {
  width: 335px;
  margin: 0 0 15px 0;
  float: left;
  padding: 0;
  border: 0px solid #eee;
  text-align: center;
  height: 73px;
  display: table;
  background: #f8f8f8;
  color: #444;
  border-radius: 10px;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.05); }

#report .minireportbox p {
  display: table-cell;
  width: 180px;
  height: 73px;
  text-align: center;
  vertical-align: middle; }

#report .minireportbox.last {
  margin-right: 0; }

#report .minireportbox .largetext {
  color: #444;
  font-size: 15pt; }

#report .minireportbox .highlighted {
  background: url(/templatefiles/tested_sofar_background.png) no-repeat;
  width: 133px;
  height: 100px;
  padding: 15px 10px; }

@media screen and (max-width: 500px) {
  #report .minireportbox {
    width: 100%; } }

@media screen and (max-width: 960px) and (min-width: 500px) {
  #report .minireportbox {
    width: 47%; } }

#report .tickcross img {
  margin-top: 10px;
  width: 32px;
  height: auto; }

#report .rightmarginimg img {
  margin-right: 10px; }

.tagcloud {
  line-height: 50px; }

#report .tagcloud1 {
  font-size: 12px;
  color: #DDD; }

#report .tagcloud2 {
  font-size: 20px;
  color: #BBB; }

#report .tagcloud3 {
  font-size: 28px;
  color: #888; }

#report .tagcloud4 {
  font-size: 36px;
  color: #666; }

#report .tagcloud5 {
  font-size: 44px; }

#report .tagcloud6 {
  font-size: 52px; }

#report .tagcloud7 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -2px; }

#report .tagcloud8 {
  font-size: 68px;
  font-weight: bold;
  letter-spacing: -3px; }

@media screen and (max-width: 500px) {
  .tagcloud {
    line-height: 1.6em; }
  #report .tagcloud1 {
    font-size: 12px;
    color: #DDD; }
  #report .tagcloud2 {
    font-size: 14px;
    color: #BBB; }
  #report .tagcloud3 {
    font-size: 16px;
    color: #888; }
  #report .tagcloud4 {
    font-size: 18px;
    color: #666; }
  #report .tagcloud5 {
    font-size: 20px; }
  #report .tagcloud6 {
    font-size: 26px; }
  #report .tagcloud7 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -2px; }
  #report .tagcloud8 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -3px; } }

#report .reportbox {
  width: 325px;
  margin: 0 10px 15px 0;
  float: left;
  padding: 0;
  border: 0px solid #eee;
  text-align: center;
  height: 130px;
  display: table;
  background: #f8f8f8;
  color: #444;
  border-radius: 10px;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.05); }

#report .reportbox-wide {
  width: 100%;
  margin-right: 0; }

#report .reportbox p {
  display: table-cell;
  width: 305px;
  padding: 25px;
  height: 130px;
  text-align: center;
  vertical-align: middle; }

#report .reportbox.last {
  margin-right: 0; }

#report .reportbox .largetext {
  color: #444;
  display: block;
  font-size: 18pt; }

#report .reportbox .highlighted {
  background: url(/templatefiles/tested_sofar_background.png) no-repeat;
  width: 266px;
  height: 106px;
  padding: 15px 10px; }

#report .largereportbox {
  margin: 0 10px 15px 0;
  padding: 0;
  border: 0px solid #eee;
  text-align: center;
  height: 130px;
  display: table;
  background: #f8f8f8;
  color: #444;
  border-radius: 10px;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.05); }

#report .starsholder {
  float: left;
  margin-right: 30px;
  margin-left: 22px;
  text-align: center;
  width: 80px;
  font-size: 12px; }

#report .reviewstar {
  font-weight: bold;
  height: 42px;
  margin-bottom: 5px;
  font-size: 11px;
  padding-top: 1px;
  background: url("/simpleicons/star.png") no-repeat;
  background-size: contain;
  background-position: center; }

#report .starstitle {
  margin-top: 25px;
  color: #606060;
  font-size: 12px;
  font-weight: bold; }

#report .starstitle p {
  margin: 0;
  padding-bottom: 0; }

#report .ratingstarval {
  font-size: 18px;
  font-weight: bold;
  color: #21ba26; }

#report .ratingstarvallow {
  color: #d5050b; }

#report .ratingstarvalmedium {
  color: #ed642b; }

#report .ratingstarvalhigh {
  color: #21ba26; }

#report .dataPanelReportBox img {
  margin-right: 5px;
  position: relative;
  top: -2px; }

#report #recommendations {
  border-top: 2px dotted #999;
  margin-top: 30px;
  clear: both;
  padding-top: 30px; }

#report #recommendations h2 {
  font-size: 14pt;
  font-weight: 600;
  margin-top: 0;
  margin-left: 0; }

#report #recommendations ul {
  padding: 0 10px; }

#report #recommendations li {
  background: url("/theme/nibblersimple/templatefiles/idea.png") no-repeat scroll 0 8px #FFFFFF;
  padding: 10px 10px 10px 40px;
  margin: 15px 0 -16px;
  list-style: none; }

#report .reportbox-fb {
  height: auto; }

#report .reportbox .socialpresence-fb #fb-cover {
  background-size: cover;
  height: 125px;
  background-position: center;
  background-color: #E7EBF2; }

#report .reportbox .socialpresence-fb #fb-details {
  text-align: left;
  background-color: #fff; }

#report .reportbox .socialpresence-fb #fb-details #mainimg {
  border: 2px solid #fff;
  margin-top: -75px;
  margin-left: 35px;
  width: 100px;
  height: auto;
  float: left; }

#report .reportbox .socialpresence-fb #fb-details #pagename {
  padding: 0 0 0 15px;
  float: left;
  display: block;
  height: auto;
  width: 250px;
  text-align: left;
  margin: 10px 0 10px 0px; }

#report .reportbox .socialpresence-fb #fb-details #pagelikes {
  margin: 10px 15px 10px;
  padding: 0;
  height: auto;
  float: right;
  width: 100px;
  text-align: right; }

#report .reportbox .socialpresence-fb #fb-details #pagelikes img {
  margin-right: 6px; }

#report .reportbox .socialpresence-fb #fb-details .nofbpage {
  height: auto;
  width: auto;
  text-align: left;
  padding: 28px 0; }

#report #featureboxSocPresTwitter {
  height: auto;
  display: table-cell;
  float: none; }

#report #featureboxSocPresTwitter .twitteraccount-details {
  text-align: left; }

#report #featureboxSocPresTwitter .twitteraccount-details img {
  float: left;
  margin: 0; }

#report #featureboxSocPresTwitter .twitteraccount-details p {
  width: auto;
  display: block;
  height: auto;
  padding: 0;
  margin: 5px 10px 0px 65px;
  text-align: left; }

#report #featureboxSocPresTwitter .twitteraccount-details p.nofbpage {
  padding: 6px 0;
  text-align: left; }

#report #featureboxSocPresTwitter .twitteraccount-details p span {
  display: block;
  float: right;
  text-align: left;
  width: 120px; }

#report #featureboxSocPresTwitter .twitteraccount-details {
  margin: 15px; }

#report #featureboxSocPresGplus {
  height: auto;
  display: table-cell;
  float: none; }

#report #featureboxSocPresGplus .gpluspage-details {
  text-align: left; }

#report #featureboxSocPresGplus .gpluspage-details img {
  float: left;
  margin: 0;
  width: 48px;
  height: auto; }

#report #featureboxSocPresGplus .gpluspage-details p {
  width: auto;
  display: block;
  height: auto;
  padding: 0;
  margin: 5px 10px 0px 65px;
  text-align: right; }

#report #featureboxSocPresGplus .gpluspage-details p.nogppage {
  padding: 6px 0;
  text-align: left; }

#report #featureboxSocPresGplus .gpluspage-details p span {
  display: block;
  float: right;
  text-align: left;
  width: 150px;
  padding-left: 10px; }

#report #featureboxSocPresGplus .gpluspage-details {
  margin: 15px; }

#report .reporttablerow {
  display: table-row; }

#report .reporttableelem {
  display: table;
  border-spacing: 15px 0;
  border-collapse: separate;
  margin: 0 -15px; }

#nofbimg {
  margin: 15px;
  float: left; }

#report .report-tab p {
  margin: 15px 0; }

#tests .summary {
  clear: left; }

.report-help-popup {
  display: none;
  background-position: top right;
  float: left;
  color: #fff;
  background-image: url(/theme/nibblersimple/templatefiles/formerrorarrowupgrey.png);
  margin: 0;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  list-style: none; }

.report-help-popup li {
  color: #fff !important; }

.report-help-popup .report-help-popup-inner {
  background-color: #373737;
  padding: 15px; }

.report-help-popup .report-help-popup-inner h1 {
  color: #FFF; }

.report-help-popup .report-help-popup-inner h2 {
  color: #FFF; }

#report .report-help-popup .report-help-popup-inner a,
#report .report-help-popup .report-help-popup-inner a:visited {
  color: #fff; }

#report .report-help-popup .report-help-popup-inner a:hover,
#report .report-help-popup .report-help-popup-inner a:active {
  color: #2690F6; }

#report .report-help-popup .report-help-popup-inner ul {
  padding-left: 30px; }

#report .report-help-popup .report-help-popup-inner li {
  list-style: disc outside none;
  margin: 10px 0;
  padding: 0;
  background: transparent;
  border: none; }

#report .report-help-popup h1 {
  font-size: 14pt;
  margin: 0 0 15px;
  font-weight: 600; }

#report .report-help-popup h2 {
  margin-left: 0;
  margin: 30px 0 15px;
  font-size: 12pt; }

#report .report-tab p.closehelp {
  margin: 8px -15px -15px; }

#report .report-tab p.closehelp a,
#report .report-tab p.closehelp a:visited {
  display: block;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  background-color: #555555;
  text-decoration: none;
  color: #fff; }

#report .report-tab p.closehelp a:hover,
#report .report-tab p.closehelp a:active {
  color: #fff;
  text-decoration: underline; }

#report .report-tab p.closehelp span {
  background-image: url(/theme/nibblersimple/templatefiles/uparrowwhite.png);
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 12px; }

#report h3 {
  font-weight: 600;
  font-size: 14pt;
  margin: 30px 0 0; }

.makeblock {
  display: block; }

.summarycontribs {
  background-color: #F5F5F5;
  padding: 10px 15px 5px 15px;
  margin: 15px 0 15px 60px;
  border: 1px dotted #A3A4A7; }

#report #summaries .summarycontribs p {
  margin: 0; }

#report #summaries .summarycontribs ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#report #summaries .summarycontribs li {
  margin: 0; }

#report #summaries .summarycontribs li {
  margin: 10px 0;
  list-style: none; }

#report #summaries .summarycontribs li span.score {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  width: 25px;
  line-height: 25px;
  height: 25px;
  position: static;
  display: inline-block;
  float: left;
  clear: none; }

#report #summaries .summarycontribs li a {
  margin-left: 15px;
  color: #222222;
  text-decoration: none;
  font-weight: bold; }

#report #summaries .summarycontribs li a:hover {
  color: #2690F6;
  text-decoration: none; }

#exception-outer {
  width: 690px;
  margin: auto; }

#exception {
  background-color: #fff;
  padding: 25px;
  margin-top: 100px;
  overflow: auto;
  border-radius: 5px; }

#exception h1 {
  font-size: 20pt;
  font-weight: 600; }

#exception h2 {
  font-size: 12pt;
  font-weight: 600;
  margin-top: 15px; }

#exception .padding {
  width: 100%;
  overflow: scroll; }

#exception .img-right {
  float: right;
  margin-top: -20px;
  width: 120px;
  height: auto;
  margin-left: 20px; }

@media screen and (max-width: 480px) {
  #exception {
    margin-top: 30px; } }

#mobile-screenshots {
  text-align: center; }

.mobile-screenshot {
  width: 166px;
  height: 327px;
  background-image: url(/theme/nibblersimple/templatefiles/phone.png);
  padding: 48px 6px 48px;
  margin-right: 60px;
  margin-top: 5px;
  display: inline-block;
  background-size: cover;
  vertical-align: middle; }

.tablet-screenshot {
  width: 425px;
  height: 327px;
  background-image: url(/theme/nibblersimple/templatefiles/tablet.png);
  padding: 24px 26px;
  display: inline-block;
  background-size: cover; }

#mobile-screenshot-placeholder {
  width: 156px;
  height: 230px;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  font-size: 0.9em;
  background: #fff url(/theme/nibblersimple/templatefiles/screenshot-missing.jpg);
  text-shadow: 1px 1px 2px #fff; }

#tablet-screenshot-placeholder {
  width: 410px;
  height: 315px;
  padding: 0;
  display: table-cell;
  vertical-align: middle; }

.printonly {
  display: none; }

#helpcontainer {
  margin-top: 15px; }

#help {
  background: #fff;
  padding: 15px;
  width: 690px; }

#help .test-help {
  margin: 0 0 30px;
  padding: 0 0 30px;
  border-bottom: 1px solid #F5F5F5; }

#help h1 {
  font-size: 14pt;
  font-weight: 600;
  padding: 0 0 15px; }

#help h2 {
  font-size: 10pt;
  font-weight: 600;
  padding: 5px 0; }

#help p {
  padding: 5px 0; }

#help li {
  padding: 5px 0 0;
  margin: 0 0 0 25px;
  list-style: outside disc; }

@media screen and (max-width: 540px) {
  .mobile-screenshot {
    display: block;
    margin: 0 auto 15px; } }

@media screen and (max-width: 480px) {
  #reportcontainer {
    margin-top: 0; }
  .report-navigation {
    display: none; }
  .sidecol {
    width: auto;
    background: none; }
  #report {
    display: block;
    width: auto; }
  #report div.newGoogleResult {
    width: auto; }
  #report-controls {
    position: relative;
    margin-top: 10px; }
  #report-controls li a {
    margin-left: 0;
    margin-right: 10px; }
  #report-tested-information {
    width: auto; }
  .mobile-screenshot {
    width: 80%;
    height: auto; }
  .tablet-screenshot {
    width: 80%;
    height: auto; }
  #report .highcharts-container {
    width: auto !important; }
  #report .report-tab svg {
    width: 100% !important; }
  #report .reportbox {
    width: 100%;
    display: table;
    width: auto !important; }
  #report .reportbox div {
    display: table;
    width: 100%; }
  #report .reportbox p {
    width: 100%;
    padding: 10px; }
  #home-language-sel {
    display: block; }
  div.datatable table {
    font-size: 6pt;
    width: auto !important; }
  #exception-outer {
    width: 100%; }
  .searchinfo #keywordsfield {
    width: 100% !important;
    clear: both !important;
    float: none !important; }
  .searchinfo label {
    color: #000 !important; }
  .searchinfo #localityfield,
  .searchinfo #localitylabel {
    margin-left: auto !important;
    width: auto !important; }
  .searchinfo {
    height: auto !important; } }

@media screen and (max-width: 480px) {
  header form {
    display: none; } }

@media screen and (max-width: 992px) {
  #exception-outer {
    width: 100%; }
  #home-language-sel {
    display: block; }
  header #header-test {
    left: 25%; }
  #reportcontainer {
    margin-top: 0; }
  .report-navigation {
    display: none; }
  .sidecol {
    width: auto;
    background: none; }
  #report {
    display: block;
    width: auto; }
  #report div.newGoogleResult {
    width: auto; }
  #report-controls {
    position: relative;
    margin-top: 10px; }
  #report-controls li a {
    margin-left: 0;
    margin-right: 10px; }
  #report-tested-information {
    width: auto; }
  #report .reportbox {
    width: 47%;
    display: table; }
  #report .reportbox-wide {
    width: 100%;
    margin-right: 0; }
  .searchinfo #keywordsfield {
    width: 70% !important; }
  .searchinfo #localitylabel {
    margin-left: 75% !important; }
  .searchinfo #localityfield {
    margin-left: 75% !important; } }

html.newdesign #usagewrapper h1 {
  color: #fff;
  text-shadow: 0px 0px 10px #000000; }

html.newdesign #usagewrapper p {
  color: #fff;
  text-shadow: 0px 0px 10px #000000; }

html.newdesign #usagewrapper table {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: none; }

html.newdesign #usagewrapper table tr:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.9); }

html.newdesign #usagewrapper table tr {
  background-color: rgba(240, 240, 240, 0.9); }

html.newdesign #usagewrapper td:last-child {
  border-right: none; }

html.newdesign #usagewrapper th:last-child {
  border-right: none; }

html.newdesign #usagewrapper th.headingcountry {
  background-color: rgba(249, 250, 227, 0.9); }

html.newdesign #usagewrapper th.headingusername {
  background-color: rgba(227, 238, 250, 0.9); }

html.newdesign #usagewrapper th.headingtotal {
  background-color: rgba(20, 20, 20, 0.9);
  color: #fff; }

#usagewrapper {
  width: 960px;
  margin: 0 auto; }

#usagewrapper table {
  width: 780px;
  border: 1px solid #999999;
  border-right: 0;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px; }

#usagewrapper h1 {
  clear: both; }

#usagewrapper table tr {
  background-color: #f5f5f5; }

#usagewrapper table tr:nth-child(2n) {
  background-color: #ffffff; }

#usagewrapper table td a img {
  width: 18px;
  height: 18px;
  text-align: center; }

#usagewrapper td {
  padding: 4px;
  border-right: 1px solid #999999; }

#usagewrapper th {
  padding: 4px;
  font-weight: bold;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999; }

#usagewrapper th.headingcountry {
  background-color: #eeffee; }

#usagewrapper th.headingusername {
  background-color: #ddddff; }

#usagewrapper th.headingtotal {
  background-color: #333333;
  color: #fff; }

#usagewrapper td.columntotal {
  font-weight: bold; }

#usagewrapper h1 {
  margin: 20px 0;
  font-weight: bold; }

#usagewrapper p {
  font-size: 10pt;
  font-style: italic;
  margin: 20px 0 20px 720px; }

#usagewrapper td.numeric {
  text-align: right;
  font-family: monospace; }

#usagewrapper td.center {
  text-align: center; }

#usagewrapper table tr.currentmonth {
  background-color: #77DDF6; }

.problem-warning {
  border: 1px dotted #000;
  background-color: #fff;
  width: 600px;
  margin: 15px auto;
  color: #000;
  padding: 15px 15px 15px 61px;
  background-image: url(/templatefiles/printwarn.jpg);
  background-position: 20px 20px;
  background-repeat: no-repeat; }

.problem-warning strong {
  display: block;
  font-weight: bold; }

.searchinfo {
  padding-top: 15px;
  height: 70px;
  position: relative;
  clear: both; }

.searchinfo label {
  color: #fff; }

.searchinfo #keywordslabel {
  margin-bottom: 5px;
  width: 400px;
  float: left; }

.searchinfo #keywordsfield {
  width: 400px;
  float: left; }

.searchinfo #localitylabel {
  margin-bottom: 5px;
  width: 100px;
  margin-left: 430px; }

.searchinfo #localityfield {
  width: 100px;
  margin-left: 430px;
  margin-bottom: 30px; }

.searchinfo #localityfield select {
  width: 100px;
  padding: 3px 2px; }

#searchanalysis {
  color: #fff;
  display: block;
  text-decoration: none;
  background-color: #666;
  padding: 5px 0 7px;
  margin: 15px -30px -20px;
  text-align: center; }

.addkeywords #searchanalysis span {
  background-image: url("/theme/nibblersimple/templatefiles/downarrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
  padding-bottom: 2px; }

.nokeywords #searchanalysis span {
  background-image: url("/theme/nibblersimple/templatefiles/uparrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
  padding-bottom: 2px; }

#keywordsfield p {
  color: #AAA;
  margin: 5px 0 0;
  font-style: italic;
  font-size: 8pt;
  display: inline; }

#searchrankresult {
  margin: 15px 0;
  width: 50%; }

#searchrankresult td,
#searchrankresult th {
  padding: 10px;
  border: 1px dotted #A3A4A7; }

#searchrankresult th {
  border: 1px dotted #A3A4A7;
  font-weight: bold; }

#searchrankresult tbody tr:nth-child(2n+1) {
  background-color: #F0F0F0; }

#report .reportbox #alexa_pop #popimg {
  width: 40px;
  padding-right: 0; }

#moretests a.button,
#moretests a.button:visited {
  margin: 0 auto -10px;
  float: none;
  width: 155px;
  height: auto;
  line-height: 1.4em;
  padding: 4px; }

#moretests a.button:hover,
#moretests a.button:active {
  color: #fff;
  background: #333; }

#modalErrorResponse {
  display: none;
  color: red; }

@media screen and (max-width: 540px) {
  #price_table {
    font-size: 0.6em; }
  #price_table thead th.nibblerlogo {
    background: none; }
  #price_table thead th.sitebeamlogo {
    background: none; }
  #price_table thead th.nibblerlogo h3,
  #price_table thead th.sitebeamlogo h3 {
    display: block; } }

@media screen and (max-width: 450px) {
  #moretests {
    display: none; } }

.sitebeam-mention {
  background: url(/theme/nibbler/templatefiles/laptop.png) no-repeat bottom right;
  padding-bottom: 80px;
  background-size: contain;
  margin-left: 50px;
  margin-right: -26px;
  display: none; }

@media screen and (min-width: 992px) {
  .sitebeam-mention {
    display: block;
    text-align: left;
    margin-left: 0; }
  .sitebeam-mention p {
    width: 180px; } }

/* CONTENT PAGE
----------------------------------------------------------------------------------------------------------------------------- */
.contentpage h2 {
  margin-top: 40px;
  font-size: 20pt; }

.contentpage h2:first-child {
  margin-top: 20px; }

.content__narrow {
  margin-bottom: 65px; }

.content__narrow .contentheader {
  margin-bottom: 40px; }

/* ==========================================================================
Animations & timing delays
========================================================================== */
.strapline.animate--delay {
  transition-delay: 100ms;
  -webkit-transition-delay: 100ms;
  animation-delay: 100ms;
  -webkit-animation-delay: 100ms; }

#reportrequest.animate--delay {
  transition-delay: 500ms;
  -webkit-transition-delay: 500ms;
  animation-delay: 500ms;
  -webkit-animation-delay: 500ms; }

#inputOverlay.animate--delay {
  transition-delay: 700ms;
  -webkit-transition-delay: 700ms;
  animation-delay: 700ms;
  -webkit-animation-delay: 700ms; }

/* ==========================================================================
Language trumps
========================================================================== */
:lang(es) .testbox {
  width: 550px; }

:lang(es) .testbox input[type='submit'] {
  width: 99px; }

:lang(es) #inputOverlay {
  font-size: 1em; }

/* ==========================================================================
Pro page
========================================================================== */
.transparent-background {
  background-color: transparent !important; }

.white-text {
  color: #FFF !important; }

.head-box {
  background: #f8f8f8;
  padding: 5px 20px;
  margin-bottom: 25px !important;
  border-radius: 6px;
  box-shadow: inset 0 5px 15px #dcdcdc; }

.head-box-title {
  margin-bottom: 40px; }

.head-box-title-text {
  margin-left: 0 !important; }

.head-box-title-report {
  font-size: 26px; }

.comparison-boxes {
  padding-bottom: 60px; }

.comparison-boxes-report .insites-title-image, .comparison-boxes-report .prospect-title-image {
  max-width: 200px !important;
  margin-top: 80px; }

.comparison-boxes-report .white-tick, .comparison-boxes-report .green-tick {
  max-height: 24px; }

.comparison-boxes-report .insites-button, .comparison-boxes-report .prospect-button {
  font-size: 14px;
  padding: 10px 20px; }

.insites-box {
  background: #2d44a3;
  padding-bottom: 5px;
  margin-bottom: 40px; }

.prospect-box {
  background: #222539;
  padding-bottom: 5px;
  margin-bottom: 40px; }

.prospect-box-report {
  background: #222539;
  margin-bottom: 50px; }

.insites-title-image, .prospect-title-image {
  margin-top: 100px;
  margin-bottom: 20px;
  max-height: 60px;
  max-width: 100%; }

.white-tick {
  padding-left: 10px;
  max-height: 35px;
  padding-right: 10px; }

.green-tick {
  padding-left: 25px;
  max-height: 35px;
  padding-right: 10px; }

.down-arrow {
  position: absolute;
  margin-top: -30px;
  max-height: 125px;
  width: 30%;
  height: auto; }

.left-down-arrow {
  left: 35%; }

.right-down-arrow {
  right: 35%; }

.insites-button {
  background-color: #4cbfff !important;
  font-size: 18pt;
  padding: 15px 20px;
  display: block;
  margin: 30px auto; }

.insites-button-report {
  background-color: #4cbfff !important;
  font-size: 18pt;
  padding: 15px 20px;
  display: block;
  margin: 0 auto; }

.prospect-button {
  background-color: #f7db4c !important;
  font-size: 18pt;
  padding: 15px 20px;
  display: block;
  margin: 30px auto; }

.prospect-button-text {
  color: #222539 !important; }

.prospect-button-report {
  background-color: #f7db4c !important;
  font-size: 18pt;
  padding: 15px 20px;
  display: block;
  margin: 0 auto; }

.box-title {
  margin-bottom: 20px; }

.report-box-title {
  margin: 5px !important;
  padding: 0 !important;
  font-size: 12pt; }

.box-title-report {
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px !important; }

.left-align-text {
  text-align: left !important; }

.tick-paragraph-wrap {
  display: inline-block;
  text-align: left; }

.tick-paragraph-wrap p {
  color: #FFF !important;
  padding-left: 20px;
  font-size: 17pt !important; }

.tick-paragraph-wrap-report {
  display: inline-block;
  text-align: left; }

.tick-paragraph-wrap-report p {
  color: #FFF !important;
  padding-left: 20px;
  font-size: 12pt !important; }
